body {
    font-family: sans-serif;}
header {border:solid 3px blue;
border-radius:10px; }
header a {background-color: rgb(15, 15, 175);border-radius:20px ;padding:3px ;}
header a {color:white ;
text-decoration:none ;}
h1 {font-size:20px ;
text-align: center;
color: rgb(59, 59, 255)
  ;border:solid 1px rgb(218, 218, 218) ;border-radius: 10px;}
  footer p {border: solid 1px gray;
  padding:5px ;
   }
   nav a {border:solid 2px ;
   text-decoration:none ;
   border-radius:10px ;
   padding:4px ;
   margin:10px ;background-color: blue;color: white;
   }
   nav {margin:10px ;}
   .mars{background-color: white;color: blue;
   }
   .ice {border:solid 3px blue ;
   border-radius:13px ;
   margin:10px ;padding:4px ;


   }
